# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
    - master
    
pool:
      vmImage: 'windows-2022'
    
variables:
      solution: '**/*.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'
    
steps:
    - task: UseDotNet@2
      displayName: Use .NET 10.0
      inputs:
        packageType: 'sdk'
        version: '10.0.x'

    - task: NuGetToolInstaller@1
      inputs:
        versionSpec: '>=6.4.0'
        checkLatest: true
    
    - task: NuGetCommand@2
      inputs:
        restoreSolution: '$(solution)'
    
    - powershell: |
        git clone -q --depth=5 --branch=master https://github.com/kwsch/PKHeX.git $(Build.SourcesDirectory)/PKHeX
    
    - task: NuGetCommand@2
      inputs:
        command: 'restore'
        restoreSolution: '$(Build.SourcesDirectory)/PKHeX/PKHeX.sln'
        noCache: true
    
    - task: MSBuild@1
      inputs:
        solution: '$(Build.SourcesDirectory)/PKHeX/PKHeX.Core/PKHeX.Core.csproj'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'
        createLogFile: true
    
    - powershell: |
        $nugetver = (Get-ChildItem "$(UserProfile)/.nuget/packages/pkhex.core" | Sort-Object -Property LastWriteTime -Descending)[0].Name
        Copy-Item "$(Build.SourcesDirectory)\pkhex\PKHeX.Core\bin\Any CPU\Release\net10.0\PKHeX.Core.dll" "$(UserProfile)\.nuget\packages\pkhex.core\$nugetver\lib\net10.0"
    
    - task: VSBuild@1
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'
        createLogFile: true
    
    - task: CmdLine@2
      inputs:
        script: |
          mkdir bin
          rename $(Agent.BuildDirectory)\s\PokeFilename.GUI\bin\Release\net10.0-windows\PokeFilename.GUI.dll PokeFilename.dll
          xcopy $(Agent.BuildDirectory)\s\PokeFilename.GUI\bin\Release\net10.0-windows\PokeFilename.dll $(Agent.BuildDirectory)\s\bin

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Agent.BuildDirectory)\s\bin'
        ArtifactName: 'PokeFilename'
        publishLocation: 'Container'
